@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.container {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 150px;
}
h1 {
  font-size: 3em;
  display: inline;
  color: #d6000d;
  font-style: italic;
}
span {
  color: #000000;
}
nav {
  float: right;
}
nav ul li {
  list-style: none;
  display: inline;
}
nav ul li a {
  text-align: right;
  text-decoration: none;
  color: #444446;
  font-size: 1.2em;
  margin-left: 25px;
}

.menu button {
  background-color: #d6000d;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  width: 150px;
  padding: 5px;
  border-radius: 8px;
  margin-left: 25px;
  font-weight: 300;
  cursor: pointer;
}
.videoCall,
.codding {
  height: 300px;
}
.videoCall img {
  height: 100%;
  margin-left: 100px;
}
.codding img {
  height: 100%;
  float: right;
  margin-right: 100px;
}
.apresentacao {
  width: 40%;
  float: right;
}
.apresentacao h2 {
  font-size: 2.8em;
  line-height: 0.5;
  padding: 0;
  margin-top: 0;
  color: #d6000d;
}
.codding ul {
  margin-bottom: 50px;
}
.codding ul li {
  list-style: none;
  font-size: 1.5em;
  line-height: 40px;
}

.fa-check-circle {
  color: #d6000d;
  margin-right: 20px;
}
.codding p {
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 40px;
}
.apresentacao button {
  background-color: #d6000d;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 300;
  cursor: pointer;
}
.codding button {
  background-color: #d6000d;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  margin-left: 5px;
  font-weight: 300;
  cursor: pointer;
  height: 47px;
}
input {
  width: 250px;
  height: 45px;
  padding-left: 20px;
  margin-left: 40px;
  border-radius: 8px;
  border: none;
  background-color: #ccc;
}
